body{
    height: 100vh;
    margin: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.body{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: lavender;
}
.container{
    display: flex;
    max-width: 500px;
    max-height: 500px;
    justify-content: center;
    flex-direction: column;
    border: solid 1px black;
    background-color: black;
    border-radius: 30px;
    border: solid 1px lightgrey;
    box-shadow: 10px 10px grey;
}
.screen{
    display: flex;
    height: 100px;
    width: 450px;
    margin: 20px;
    justify-content: end;
    flex-direction: column;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}
.screen .count{
    display: flex;
    height: 40px;
    width: 420px;
    margin: 0px;
    justify-content: end;
    font-size:32px;
}
.screen .result{
    display: flex;
    height: 60px;
    width: 420px;
    margin:0px;
    justify-content: end;
    font-size:52px;
}
.buttons{
    display: flex;
    flex-direction: row;
    margin: 20px;
    height: 300px;
    width: 450px;
}
.right{
    display: flex;
    flex-direction: column;
    width: 375px;
    height: 300px;
    gap: 10px;
}
.btnContainer{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    color: white;
}
.btnContainer .btn{
    background-color: grey;
}
.greybtn{
    display: flex;
    flex-wrap: wrap;
    gap: 10px ;
    color: black;
}
.greybtn .btn{
    background-color: lightgrey;
    border: solid 2px grey;
}
.left{
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
}
.left .btn{
    background-color: orange;
}
.btn{
    display: flex;
    height: 50px;
    width: 100px;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: solid 2px lightgrey;
    font-size: 32px;
}
.btn:hover{
    background-color: white;
    color: black;
}
.cero{
    width: 210px;
}
footer{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 16px;
    margin: 0;
    background-color: black;
    color: white;
}
footer img{
    height: 30px;
}
